body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.container {
  background-color: white;
  width: 50rem;
  height: 20rem;
  vertical-align: middle;
}
