html {
  height: 100%;
}
body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  min-height: 100%;
}
body * {
  transition: 0.4s;
}
h1 {
  margin-bottom: 0.5rem;
  margin-top: 0;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
  margin: auto;
  opacity: 85%;
  border-radius: 2rem;
  padding: 2rem;
}
.flex {
  flex: 1 1 50%;
  padding: 1rem;
}
form * {
  margin: 0.5rem;
}
#saved-answer {
  padding: 1rem;
  border-style: dashed;
  border-color: #a0a0a083;
}
.notif {
  position: fixed;
  top: 5rem;
  right: -100rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #f5f5f5;
  z-index: 100;
}
.notif.error p {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 1rem;
  margin: 0;
  color: #d14774;
  border: 2px solid #d14774;
  border-right: none;
}
.showNotif {
  right: 0;
}
